body {
	margin: 20px;
	background-color: lightgray;
}

h1 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-shadow: 1px 1px black;
	font-weight: bold;
}

button.superhero-button{
  background-color: red;
  color: white;
  margin: 5px;
  padding: 3px 15px;
  text-transform: capitalize;
}

#button-area {
	margin-top: 20px;
}

p {
	color: black;
	margin-top: 30px;
    line-height: 3px;
    
}

form {
	color: black;
	padding: 15px;
	border: 2px solid black;
}

#add-superhero {
	background-color: red;
	color: white;
	margin-top: 20px;
	padding: 5px 15px;
}


.item {
	margin-right: 20px;
}

.gif {
	border: 1px solid black;
}

/* Responsiveness with @Media */
 @media screen and (max-width: 640px) {

	
	#superhero-form {
		margin-top: 20px;
	}

} 

@media only screen and (max-width: 740px) { 
    #superhero-form {        
        width:100%;
        border-bottom-left-radius: 0px;
        height:94px;
    }
    
   
}